<div class="sidebar-header">
  <h3>BoxTrix</h3>
</div>

<div class="sidebar-body">
  <ng-template
    [ngTemplateOutlet]="listTemp"
    [ngTemplateOutletContext]="{context: { title: 'Fitted', collection: detail.fitted }}"
  ></ng-template>

  <ng-template
    [ngTemplateOutlet]="listTemp"
    [ngTemplateOutletContext]="{context: { title: 'Unfitted', collection: detail.unfitted }}"
  ></ng-template>
</div>

<div class="sidebar-footer">
  <input type="file" (change)="load($event)" />
</div>

<ng-template #listTemp let-context="context">
  @if (context.collection?.length) {

  <h3>{{context.title}}</h3>
  <h5>{{context.collection?.length}} item's</h5>

  <ul class="sequence">
    @for (item of context.collection; track $index) {
    <li
      class="sequence-item"
      [class.selected]="item.selected"
      (click)="clicked(item)"
    >
      <div>{{item.name}}</div>
    </li>
    }
  </ul>
  }
</ng-template>
