<div class="sidebar-header">
  <h3>BoxTrix</h3>
</div>

<div class="sidebar-body">
  <h3>Sequence</h3>
  <ul class="sequence">
    @for (item of sequence; track $index) {
    <li
      class="sequence-item"
      [class.selected]="item.selected"
      (click)="clicked(item)"
    >
      <div>{{$index +1}} - {{item.stackable.name}}</div>
      <div class="detail">
        <!-- {{item.stackable.id}} -->
        <!-- POSITION -->
        <div>
          Position
          <ul class="position">
            <li>X: {{item.x}}</li>
            <li>Y: {{item.y}}</li>
            <li>Z: {{item.z}}</li>
          </ul>
        </div>
        <!-- MEASUREMENTS -->
        <div>
          Meas [cm]
          <ul class="dimensions">
            <li>W: {{item.stackable.dx}}</li>
            <li>H: {{item.stackable.dy}}</li>
            <li>D: {{item.stackable.dz}}</li>
          </ul>
        </div>
      </div>
    </li>
    }
  </ul>
</div>

<div class="sidebar-footer">
  <input type="file" (change)="load($event)">
</div>
